altgraph==0.17.2; python_version >= "3.6" and python_version < "3.11" and sys_platform == "darwin"
anyio==3.5.0; python_full_version >= "3.6.2" and python_version >= "3.6"
black==22.1.0; python_full_version >= "3.6.2"
certifi==2021.10.8; python_version >= "3.6"
cfgv==3.3.1; python_full_version >= "3.6.1"
charset-normalizer==2.0.12; python_full_version >= "3.5.0" and python_version >= "3.6"
click==8.0.4; python_version >= "3.6" and python_full_version >= "3.6.2"
colorama==0.4.4; python_version >= "3.6" and python_full_version >= "3.6.2" and platform_system == "Windows"
distlib==0.3.4; python_full_version >= "3.6.1"
filelock==3.6.0; python_version >= "3.7" and python_full_version >= "3.6.1"
flake8==4.0.1; python_version >= "3.6"
future==0.18.2; python_version >= "3.6" and python_version < "3.11" and sys_platform == "win32" and python_full_version >= "3.6.0"
h11==0.12.0; python_version >= "3.6"
httpcore==0.14.7; python_version >= "3.6"
httpx==0.22.0; python_version >= "3.6"
identify==2.4.11; python_version >= "3.7" and python_full_version >= "3.6.1"
idna==3.3; python_version >= "3.6" and python_full_version >= "3.6.2"
isort==5.10.1; python_full_version >= "3.6.1" and python_version < "4.0"
macholib==1.15.2; python_version >= "3.6" and python_version < "3.11" and sys_platform == "darwin"
mccabe==0.7.0; python_version >= "3.6"
mypy-extensions==0.4.3; python_full_version >= "3.6.2" and python_version >= "3.6"
mypy==0.931; python_version >= "3.6"
nodeenv==1.6.0; python_full_version >= "3.6.1"
pathspec==0.9.0; python_full_version >= "3.6.2"
pefile==2021.9.3; python_version >= "3.6" and python_version < "3.11" and sys_platform == "win32" and python_full_version >= "3.6.0"
platformdirs==2.5.1; python_version >= "3.7" and python_full_version >= "3.6.2"
pre-commit==2.17.0; python_full_version >= "3.6.1"
pycodestyle==2.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pydub==0.25.1
pyflakes==2.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyinstaller-hooks-contrib==2022.2; python_version >= "3.7" and python_version < "3.11"
pyinstaller==4.10; python_version >= "3.6" and python_version < "3.11"
pywin32-ctypes==0.2.0; python_version >= "3.6" and python_version < "3.11" and sys_platform == "win32"
pyyaml==6.0; python_version >= "3.6" and python_full_version >= "3.6.1"
ratelimiter==1.2.0.post0
rfc3986==1.5.0; python_version >= "3.6"
six==1.16.0; python_full_version >= "3.6.1"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.6"
toml==0.10.2; python_full_version >= "3.6.1"
tomli==1.2.3; python_version >= "3.6" and python_full_version >= "3.6.2"
typing-extensions==4.1.1; python_version >= "3.6"
virtualenv==20.13.2; python_full_version >= "3.6.1"
